.header {
  width: 200px;
  height: 200px;
  background-color: pink;
  /* 如果遇到（交集，伪类，伪元素选择器）
    内层选择器的前面没有&符号 则它被解析成父选择器的后代
    如果有&符号 他就被解析成父元素自身或父元素的伪类 */
}
.header a {
  color: red;
}
如果有伪类，伪元素 我们内层选择器的前面加.header a .header a:hover {
  color: blue;
}
.nav .log {
  color: green;
}
.nav::before {
  content: '';
}
div {
  width: 150px;
  height: 500px;
  border: 10px solid red;
  background-color: #444444;
}
img {
  width: 1.64rem rem;
  width: 5.0625rem;
  width: 1rem;
}
